---

layout: default

---

<div class="row well">
<div class="col-md-8"> <!-- left -->
    Welcome to the homepage for Algebraic Geometry 2: Topics in the geometry of schemes (UPenn MATH 6250)
    <br />
    <br />
    <p>This course is designed to be a second semester course in algebraic geometry, assuming some background in varieties, commutative algebra and category theory. We will focus on the theory of schemes and their generalizations through the lens of moduli problems.    </p>

    <p>Some key sources for Algebraic geometry:
      <ul>
        <li> <a href="https://a.co/d/bjyMTbc">Algebraic Geometry</a> (R. Hartshorne)</li>
        <li> <a href="https://a.co/d/eRsVjmS">The Geometry of Schemes</a> (D.
            Eisenbud and J. Harris)</li>
        <li> <a href="https://a.co/d/b4MhsMA">Basic Algebraic Geometry 1</a>
            (I. R. Shafarevich)</li>
        <li> <a href="https://a.co/d/85d1uOW">Basic Algebraic Geometry 2</a>
            (I. R. Shafarevich)</li>
      </ul>
    </p>
    <p>And some further sources (to be added to later):
      <ul>
        <li> <a href="https://a.co/d/d7oSRCo">Fundamental Algebraic Geometry</a> (B. Fantechi, L. Gottsche, L. Illusie, S. Kleiman and N. Nitsure)) </li>
      </ul>
    </p>
    {% include news.html %}
</div> <!-- /left-->

<div class="col-md-3 col-md-offset-1"> <!-- right -->
  <div class="row well"> <!-- inner row well 1 (right) -->
    {% include basic_info.html %}
  </div> <!-- /inner row well 1 (right) -->
</div>
</div>
